@import "/css/common/icon.css";
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    margin: 0px;
    font-size: 18px;
    min-width: 1024px;
    background: #f4f4f4;
    font-family: 'Varela Round', sans-serif;
    text-shadow: 0 0 2px #c5c5c5;
}



[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cancel::before {
    content: "";
    color: #f00;
    font-size: 12px;
    line-height: 14px;
}

button.icon-cancel[disabled] {
    background-color: #e6e6e6;
    border: #e6e6e6;
}
.bg-primary {
    background-color: #1949B5;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

n.label-required {
    color: #ff0000;
}

.margin-left-8{
    margin-left:8px;
}

.margin-right-8{
    margin-right:8px;
}

label {
    white-space: nowrap;
}

.title-group {
    font-weight: bold;
    border-bottom: 1px solid #dedede;
    padding-bottom: 4px;
    margin-bottom: 8px;
}

.title-group:hover{
    cursor:pointer;
}